
<div class="container" >
  <div class="header">
    <h2 class="title">Detalle del Proyecto</h2>
  </div>

<mat-card class="card">
  <mat-dialog-content *ngIf="!cargando && detalle">


    <div class="row card-responsable">

      <h3>{{ detalle?.proyecto?.nombreCompleto }}</h3>
      <p><strong>Código:</strong> {{ detalle?.proyecto?.codigo }}</p>
      <p><strong>Estado:</strong> {{ detalle?.proyecto?.estado }}</p>
      <p><strong>Responsable:</strong> {{ detalle?.proyecto?.nombreResponsable }}</p>
      <p><strong>Centro de Gestión:</strong> {{ detalle?.proyecto?.nombreCentroGestion }}</p>
      <p><strong>Duración</strong> {{ detalle?.proyecto?.duracion }}</p>
    </div>
    <hr>

    <div class="row card-responsable">
      <h4>Convocatoria</h4>
      <p>{{ detalle?.convocatoria?.name }}</p>

    </div>

    <div class="row card-responsable">
      <h4>Lugar Ejecución</h4>
      <p>{{ detalle.proyecto.lugarEjecucion }}</p>

    </div>

    <div class="row card-responsable">
      <h4>Financiadores</h4>
      <ul>
        <li *ngFor="let f of detalle.listaFinanciadores">
          {{ f.nit }} – {{ f.razonSocial }}
        </li>
      </ul>

    </div>

    <div class="row card-responsable">
      <h4>Grupos</h4>
      <ul>
        <li *ngFor="let g of detalle.listaGrupo">
          {{ g.nombreCorto }}
        </li>
      </ul>

    </div>

    <div class="row card-responsable">
      <h4>Solicitudes</h4>
      <ul>
        <li *ngFor="let p of detalle.prorrogasAplicadas">
          {{ p.id }} {{ p.descripcion }} {{ p.tipoProrroga }} {{ p.tiempoSolicitado }} {{ p.admFechaModifica }}
        </li>
      </ul>
    </div>

    <div class="row card-responsable">
  <h4>Solicitudes</h4>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Tipo de prórroga</th>
        <th>Tiempo solicitado</th>
        <th>Fecha modificación</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of detalle.prorrogasAplicadas">
        <td>{{ p.id }}</td>
        <td>{{ p.descripcion }}</td>
        <td>{{ p.tipoProrroga }}</td>
        <td>{{ p.tiempoSolicitado }}</td>
        <td>{{ p.admFechaModifica }}</td>
      </tr>
    </tbody>
  </table>
</div>

    <div class="row card-responsable">
      <h4>Fecha Límite Inicio</h4>
      <p>{{ detalle.fechalimiteInicio }}</p>
    </div>

    <button class="btn btn-primary" (click)="redirigir(detalle.proyecto.codigo)"> Ir a detalle </button>

  </mat-dialog-content>

</mat-card>

<mat-dialog-content *ngIf="cargando">
  <mat-spinner></mat-spinner>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">Cerrar</button>
</mat-dialog-actions>

</div>
