<div class="row space-wizard">
  <div class="col-3 align-center" *ngIf="editable && habilitarAgregarDescripcion">
    <button class="add-fill" mat-raised-button (click)="abrirModalAgregarDescripcion()">AGREGAR DESCRIPCIÓN</button>
    <span class="btn-info" [matMenuTriggerFor]="infogeneralproyecto">
      <mat-icon class="light-gray more">info</mat-icon>
    </span>
    <mat-menu class="info-help" #infogeneralproyecto="matMenu">
      <h3 class="color-info">
        <mat-icon class="more">info</mat-icon>¡Recuerde!
      </h3>
      <span>Haga clic en el botón Agregar para crear las descripciones de su proyecto.</span>
    </mat-menu>
  </div>
  <div class="col-7">
    <div class="contextual-help">
      <div class="card-contextual">
        <img src="assets/img/ic-contextual-help.png" alt="">
        <p class="contextual-yellow">En esta sección se determinan los textos de su proyecto, por ejemplo objetivos,
          justificación, metodología, entre otros.</p>
        <a href="#contactTypes"></a>
      </div>
    </div>
  </div>
</div>
<div class="row no-wrap" *ngIf="editable && listaTextoDescriptivoOpcional.length > 0">
  <div class="col col-5">
    <mat-form-field class="element" appearance="fill">
      <mat-label><span class="required">* </span>Seleccione los textos descriptivos opcionales para el proyecto</mat-label>
      <mat-select (selectionChange)="agregarTextoDescriptivoOpcional()" [formControl]="textoDescriptivoControl">
        <mat-option *ngFor="let textoDescriptivo of listaTextoDescriptivoOpcional" [value]="textoDescriptivo">{{textoDescriptivo.textoSolicitado?.titulo}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<app-lista-descripcion-proyecto #listaTextos [editable]="editable" [esProyectoSeleccionInscritoOAvales]="esProyectoSeleccionInscritoOAvales"></app-lista-descripcion-proyecto>
<button id="fixedbutton" class="button-select" mat-raised-button (click)="scrollToListaTextos()">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>

<!-- <app-lista-descripcion-proyecto #listaTextos [editable]="editable" [esProyectoSeleccionInscritoOAvales]="esProyectoSeleccionInscritoOAvales"></app-lista-descripcion-proyecto>
<button id="fixedbutton" class="button-select" mat-raised-button ngx-scroll-to [ngx-scroll-to-offset]="-999999">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button> -->
