.margin-top{
    margin-top: 40px;
}

.header-accordions{
    /* border-top: 4px solid white; */
    border-bottom: 1px solid #e8e8e8;
}

.header-accordions.active{
    border-top: 4px solid #70a203;
}

.no-wrap{
    flex-wrap: nowrap;
}
.col-3{
    flex: 1 1 30%;
}

.titles-accordion{
    font-size: 18px;
    font-weight: 700;
    color: #464646;
}

.parrafo-accordion{
    font-size: 16px;
    color: #464646;

}
