<div class="fade-b-t">
  <div class="row space-wizard" *ngIf="editable">
    <div class="col-5 align-center">
      <div class="margin-left">
        <button mat-button class="save-fill" (click)="guardarCompromisos()">GUARDAR
          <mat-icon>save</mat-icon>
        </button>
        <button mat-button class="save-fill" (click)="irAIdeas('https://link.udea.edu.co/ideas')">IDENTIFICAR ACTIVO
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-5">
      <div class="contextual-help">
        <div class="card-contextual">
          <img src="assets/img/ic-contextual-help.png" alt="">
          <p class="contextual-yellow">Defina los compromisos que asumirá de acuerdo a los alcances de su proyecto y lo invitamos a que registre el activo de conocimiento asociado al mismo, esto permitirá que la OTRI de la UdeA, le acompañe en el proceso de transferencia de sus resultados de investigación.
          </p>
        </div>
      </div>
    </div>
  </div>

  <app-mensaje-exito-error></app-mensaje-exito-error>

  <app-lista-compromisos-proyecto [editable]="editable"></app-lista-compromisos-proyecto>
  <app-visor-componentes-proyecto url="/ver-compromisos/" *ngIf="mostrarComponentes"></app-visor-componentes-proyecto>
</div>
