.cronograma .card-accordion{
    margin: 20px 40px 0 0;
}

.padding-int{
    padding: 13px 0;
}

.card-accordion {
    box-shadow: none;
    background: #f7f7f7;
    border: 1px solid #dddddd;
    padding: 10px;
    margin: 0 0 15px 0;
}
