<h2 class="secondary-color text-center title-modal" mat-dialog-title>Está agregando un documento soporte</h2>
<form class="example-form" [formGroup]="formularioAgregarDocumentoProyecto" autocomplete="off">
  <div mat-dialog-content>
    <div class="container-modal">
      <div class="row no-wrap">
        <div class="col col-5">
          <div class="align-between">
            <div class="col col-9">
              <mat-form-field appearance="fill">
                <mat-label><span class="required">* </span>Nombre del documento</mat-label>
                <input matInput formControlName="nombreDocumento">
                <mat-error *ngIf="f.nombreDocumento.errors?.required">
                  Este campo es obligatorio.
                </mat-error>
                <mat-error *ngIf="f.nombreDocumento.errors?.maxlength">
                  Sólo se permiten {{f.nombreDocumento.errors.maxlength.requiredLength}} caracteres.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col col-1">
              <span class="btn-info" [matMenuTriggerFor]="namedoc">
                <mat-icon class="light-gray more">info</mat-icon>
              </span>
              <mat-menu class="info-help" #namedoc="matMenu">
                <h3 class="color-info">
                  <mat-icon class="more">info</mat-icon>¡Recuerde!
                </h3>
                <span>
                  Nombre del documento que agrega.
                </span>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="col col-5">
          <div class="align-between">
            <div class="col col-9">
              <mat-form-field appearance="fill">
                <mat-label>Número del documento</mat-label>
                <input matInput formControlName="numeroDocumento">
                <mat-error *ngIf="f.numeroDocumento.errors?.maxlength">
                  Sólo se permiten {{f.numeroDocumento.errors.maxlength.requiredLength}} caracteres.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col col-1">
              <span class="btn-info" [matMenuTriggerFor]="numdoc">
                <mat-icon class="light-gray more">info</mat-icon>
              </span>
              <mat-menu class="info-help" #numdoc="matMenu">
                <h3 class="color-info">
                  <mat-icon class="more">info</mat-icon>¡Recuerde!
                </h3>
                <span>
                  Número asignado al documento por la dependencia, entidad o persona que lo emite. No es obligatorio.
                </span>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-wrap">
        <div class="col col-5">
          <div class="align-between">
            <div class="col col-9">
              <mat-form-field appearance="fill">
                <mat-label><span class="required">* </span>Emisor</mat-label>
                <input matInput formControlName="emisor">
                <mat-error *ngIf="f.emisor.errors?.required">
                  Este campo es obligatorio.
                </mat-error>
                <mat-error *ngIf="f.emisor.errors?.maxlength">
                  Sólo se permiten {{f.emisor.errors.maxlength.requiredLength}} caracteres.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col col-1">
              <span class="btn-info" [matMenuTriggerFor]="emisor">
                <mat-icon class="light-gray more">info</mat-icon>
              </span>
              <mat-menu class="info-help" #emisor="matMenu">
                <h3 class="color-info">
                  <mat-icon class="more">info</mat-icon>¡Recuerde!
                </h3>
                <span>
                  Entidad o dependencia que emitió el documento.
                </span>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="col col-5">
          <div class="align-between">
            <div class="col col-9">
              <mat-form-field appearance="fill">
                <mat-label><span class="required">* </span>Fecha de emisión</mat-label>
                <input matInput [max]="maxFechaEmision" [matDatepicker]="fechaEmision" formControlName="fechaEmision">
                <mat-datepicker-toggle matSuffix [for]="fechaEmision"></mat-datepicker-toggle>
                <mat-datepicker #fechaEmision></mat-datepicker>
                <mat-error *ngIf="f.fechaEmision.errors?.required && !f.fechaEmision.errors?.matDatepickerParse">
                  Seleccione una fecha de emisión.
                </mat-error>
                <mat-error *ngIf="f.fechaEmision.errors?.matDatepickerParse">
                  La fecha ingresada es inválida.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col col-1">
              <span class="btn-info" [matMenuTriggerFor]="fechadoc">
                <mat-icon class="light-gray more">info</mat-icon>
              </span>
              <mat-menu class="info-help" #fechadoc="matMenu">
                <h3 class="color-info">
                  <mat-icon class="more">info</mat-icon>¡Recuerde!
                </h3>
                <span>
                  Fecha en que el documento fue creado o publicado.
                </span>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-10">
          <mat-form-field appearance="fill" class="margin-right">
            <mat-label><span class="required">* </span>Tipo documento</mat-label>
            <mat-select placeholder="Tipo documento" formControlName="tipoDocumento">
              <mat-option [value]="''">Seleccione un tipo de documento</mat-option>
              <mat-option *ngFor="let tipoDocumento of listaTipoDocumento" [value]="tipoDocumento">
                {{tipoDocumento.nombreTipo}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f.tipoDocumento.errors?.required">
              Este campo es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col col-10">
          <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
            <mat-hint align="end">{{f.descripcion.value?.length ||
              0}}/400</mat-hint>
            <mat-error *ngIf="f.descripcion.errors?.maxlength">
              Solo se permiten {{f.descripcion.errors.maxlength.requiredLength}} caracteres.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row ">
        <div class="col col-10">
          <div class="align-between">
            <div class="col col-10">
              <h3><span class="required">*</span>Archivo adjunto
                <span class="btn-info" [matMenuTriggerFor]="adddocs">
                  <mat-icon class="light-gray more">info</mat-icon>
                </span>
                <mat-menu class="info-help" #adddocs="matMenu">
                  <h3 class="color-info">
                    <mat-icon class="more">info</mat-icon>¡Recuerde!
                  </h3>
                  <span>
                    De clic en el signo más y busque en su equipo (PC) el documento a anexar.
                  </span>
                </mat-menu>
              </h3>
              <input-file formControlName="documentoAdjunto" fileAccept="*" fileLimit="1"
                (acceptedFile)="cambioArchivo()"></input-file>
              <mat-error *ngIf="enviado && f.documentoAdjunto.errors?.required">
                Este campo es obligatorio.
              </mat-error>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-top" *ngIf="mensajeErrorTamanno">
        <div class="col col-10 content">
          <div class="alert-error">
            <mat-icon>cancel</mat-icon>
            <p>El documento supera el tamaño máximo permitido (10MB).</p>
          </div>
        </div>
      </div>
      <div class="row margin-top" *ngIf="tamannoNombreAdjunto">
        <div class="col col-10 content">
          <div class="alert-error">
            <mat-icon>cancel</mat-icon>
            <p>El tamaño del nombre del archivo a adjuntar supera el límite establecido (50 caracteres).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="align-end">
    <div class="row">
      <div class="col col-5 margin-bottom">
        <button type="button" mat-raised-button class="button-secondary" (click)="cerrarModal()">CANCELAR
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-raised-button class="save-fill" (click)="agregarDocumentoSoporte()">AGREGAR
          DOCUMENTO SOPORTE
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>