.editar-aportante {
    display: inline-block;
    width: 850px;
}

.card-responsable{
    background: #f3f3f3;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.card-responsable span{
    font-size: 14px;
    color: #929191;
}

.card-responsable p{
    font-size: 16px;
}

.card-responsable h3{
    font-size: 18px;
}

.card-responsable .b-bottom .time-text{
    font-size: 24px;
}

.b-bottom{
    background: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.d-inline-b{
    display: inline-block;
}

.dates{
    padding: 10px 20px;
    margin-top: 5px;
}

.m-right{
    margin-right: 30px;
}

.upper{
    font-size: 18px;
    color: #aeaeae;
    vertical-align: sub;
}


