<ng-container class="dropdowns-container">
  <div class="form-group">
    <form [formGroup]="form">
      <app-input-text
        label="Código Proyecto"
        id="project-code-id"
        formControlName="codigo">
      </app-input-text>

      <app-dropdown-required
        label="Centro de Gestión"
        id="administrative-center-dropdown"
        formControlName="idCentroGestion"
        [options]="(options$['administrativeCenter'] | async) || []">
      </app-dropdown-required>

      <app-dropdown
        label="Estado"
        id="status-dropdown"
        formControlName="estado"
        [options]="(options$['statusByUser'] | async) || []">
      </app-dropdown>

      <app-dropdown
        label="Convocatoria"
        id="calls-dropdown"
        formControlName="convocatoria"
        [options]="(options$['announcement'] | async) || []">
      </app-dropdown>

      <app-dropdown
        label="Proceso de Selección"
        id="selection-process-dropdown"
        formControlName="procesoSeleccion"
        [options]="(options$['selectionProcess'] | async) || []">
      </app-dropdown>

      <app-dropdown
        label="Tipo de Proyecto"
        id="project-type-dropdown"
        formControlName="tipoProyecto"
        [options]="(options$['projectType'] | async) || []">
      </app-dropdown>

      <div class="button-container">
        <app-button-secondary
          [label]="'LIMPIAR FILTROS'"
          (click)="onClearFilters()">
        </app-button-secondary>

        <app-button-primary
          [label]="'CONSULTAR'"
          [icon]="'search'"
          [type]="'button'"
          (click)="consultar()">
        </app-button-primary>
      </div>
    </form>
  </div>
</ng-container>
