.dropdowns-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 16px; /* Space between elements */
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between elements */
  width: 100%; /* Make the form group span full width */
}

.form-group > * {
  width: 100%; /* Ensure children fill the available width */
}

.button-container {
  display: flex;
  justify-content: end;
  gap: 16px; /* Space between elements */
  width: 100%;
}

//-------------------------------------------
.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.container-search{
    padding: 20px;
}

.add-financer button{
    margin-left: 0;
}

.filter p{
    margin: 15px 0 10px 0;
    font-size: 12px;
    font-weight: 600;
}

.filter{
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 10px;
}

mat-chip-list .chip-filter{
    margin-top: 20px;
}

/* Card responsable */

.card-responsable{
  background: #f3f3f3;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 2px;
  position: relative;
}

.card-responsable span{
  font-size: 14px;
  color: #929191;
}

.card-responsable p{
  font-size: 16px;
}

.card-responsable h3{
  font-size: 18px;
}

.d-inline-b{
  display: inline-block;
}

.align-end{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.ico-close-card {
  position: absolute;
  right: 0;
  top: 4px;
  cursor: pointer;
}

.ico-close-card .mat-chip.mat-standard-chip {
  background: transparent;
  text-align: center;
}

img{
  width: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.b-bottom{
  background: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.m-right{
  margin-right: 30px;
}

.dates{
  padding: 10px 20px;
  margin-top: 5px;
}

.upper{
  font-size: 18px;
  color: #aeaeae;
}
