// variables
$nodeWidth: 60px;
$nodeHeight: 50px;
$completeColor: #138b97;
$incompleteColor: #9E9E9E;
$borderColor: #BDBDBD;
$highlightBorderColor: #FF9800;
// sidenav
.sidenav-container{
  padding-bottom: 30px;
}

.sidenav {
  height: fit-content;
}

// table content
.sidenav-content {
  height: fit-content;
  overflow-x: auto;
}

// resizable border
[mwlResizable] {
  border-right: 3px solid $borderColor;
  box-sizing: border-box;
}

// sidenav header(not calendar)
.sidenav-header {
  line-height: $nodeHeight - 2px;
  height: $nodeHeight - 2px;
  min-height: $nodeHeight - 2px;
  border-width: 1px 1px 1px 0;
  border-color: transparent;
  border-style: solid;
  background: #8BC34A;
  color: white;
  padding-left: 15px;
}

// tree node height for sidebar
::ng-deep mat-tree-node {
  height: $nodeHeight;
  min-height: $nodeHeight;
}

/** names */

.sidenav.names {
  mat-tree.tree {
    padding-top: 14px; // align the lines of input and table
  }
}

/** date picker */

.sidenav.date-pickers {
  flex: 0 0 250px;
  mat-tree.tree {
    padding-top: 14px; // align the lines and table
    border-width: 0 3px 0 0;
    border-color: $borderColor;
    border-style: solid;
    mat-tree-node {
      justify-content: center;
      mat-form-field {
        width: 100px;
      }
    }
  }
}

/** progress */

.sidenav.progress-bars {
  flex: 0 0 100px;
  mat-tree.tree {
    border-width: 0 1px 0 0;
    border-color: $borderColor;
    border-style: solid;
  }
}

::ng-deep mat-slider.progress {
  margin: 0 10px;
  width: 100%;
  height: unset;
}

/** calendar */

// header
::ng-deep .calendar-header {
  height: $nodeHeight;
  min-height: $nodeHeight;
}

// row
::ng-deep mat-tree-node.calendar-row {
  overflow: unset; // allow the row to overflow
}

::ng-deep mat-tree-node{
  word-break: normal;
  white-space: nowrap;
  padding-right: 15px;
}

// cell
::ng-deep .calendar-cell {
  text-align: center;
  line-height: $nodeHeight - 1px;
  width: $nodeWidth - 2px;
  height: $nodeHeight - 1px;
  min-width: $nodeWidth - 2px;
  min-height: $nodeHeight - 1px;
  border-width: 0.1px 0.1px;
  border-color: $borderColor;
  border-style: solid;
}

::ng-deep .calendar-cell.today {
  border-color: $highlightBorderColor;
  border-width: 0.5px 5px;
}

// completed cell
::ng-deep .calendar-cell[date-filled=true][date-inside=true] {
  background-color: $completeColor;
}

// incompleted cell
::ng-deep .calendar-cell {
  background-color: white;
}

::ng-deep mat-dialog-content{
  margin: 0;
  padding: 0;
}

::ng-deep mat-dialog-container{
  width: 980px;
}

::ng-deep container-modal{
  width: auto;
}