<h1 class="alert-title" mat-dialog-title>
  <mat-icon class="alert-ic">{{iconoAlerta}}</mat-icon>{{datosModalInformativo.titulo}}
</h1>
<div mat-dialog-content>
  <div class="container-alert">
    <div class="row">
      <div class="col-10">
        <div [className]="datosModalInformativo.clase">
          <mat-icon>{{iconoAlerta}}</mat-icon>
          <div [innerHTML]="datosModalInformativo.mensaje"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="align-end">
  <button id="btn-modal-dinamico-aceptar" mat-raised-button class="save-fill mat-raised-button" (click)="clickBoton()">ACEPTAR
    <mat-icon class="bg-white">done</mat-icon>
  </button>
</div>