.form-group-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.input {
  width: 100%;
  margin-right: 5em;
}

.container {
  background-color: white;
}

.divider {
  margin-top: 2em;
  margin-bottom: 2em;
}

mat-icon {
  color: #b0b0b0;
  cursor: pointer;
}
