<div *ngIf="totalRegistros > 0" >
  <h2 class="medium-gray font-20">Resultado ({{totalRegistros}})</h2>

  <mat-card class="card-financiador" *ngFor="let persona of listaPersonaNatural">
    <mat-card-header>
      <mat-card-title>
        <p class="font-16">{{ persona.nombrePila }} {{ persona.apellido1 }} {{ persona.apellido2 }}</p>
        <p class="normal-gray">Identificación: {{ persona.identificacion }}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="d-flex">
        <mat-icon>place</mat-icon>
        <span>{{ persona.direccion }}</span>
      </div>

      <div class="d-flex">
        <mat-icon>email</mat-icon>
        <span>{{ persona.correoElectronico }}</span>
      </div>

      <div class="d-flex">
        <mat-icon>phone</mat-icon>
        <span>{{ persona.telefono }}</span>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button type="button" class="btn btn-guardar" (click)="seleccionarPersonaNatural(persona)">
        <mat-icon>save</mat-icon> Seleccionar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="totalRegistros === 0">
  <p class="normal-gray">No se encontraron resultados.</p>
</div>
