<div class="row space-wizard" *ngIf="editable">
  <div class="col-4 align-center margin-bottom">
    <button mat-raised-button class="add-fill" [matMenuTriggerFor]="menu">AGREGAR COFINANCIADOR</button>
    <mat-menu class="no-padding" #menu="matMenu">
      <button mat-menu-item (click)="abrirVentanaBuscarFinanciador()">Financiador</button>
      <button mat-menu-item (click)="abrirVentanaBuscarGrupo()">Grupo</button>
    </mat-menu>
    <div class="margin-left">
      <button id="btnGuardarFinanciador" mat-raised-button class="save-fill" (click)="guardarTablaAportantes()">GUARDAR
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
  <div class="col-6">
    <div class="contextual-help">
      <div class="card-contextual">
        <img src="assets/img/ic-contextual-help.png" alt="">
        <p class="contextual-yellow">Agregue los cofinanciadores del proyecto. Puede hacer búsqueda de entidades y
          grupos UdeA por palabras claves e identificación (NIT para las entidades externas). Un grupo de la UdeA solo
          se agrega como cofinanciador si aportará recursos frescos, porque los recursos en especie ya están incluídos
          como parte de la UdeA.
        </p>
      </div>
    </div>
  </div>
</div>

<app-mensaje-exito-error></app-mensaje-exito-error>

<app-tabla-cofinanciadores-proyecto [editable]="editable"></app-tabla-cofinanciadores-proyecto>