<mat-tab-group>
  <mat-tab label="Descripción" >
    <app-pestana-descripcion-proyecto></app-pestana-descripcion-proyecto>
  </mat-tab>
  <mat-tab label="Cronograma" >
    <app-pestana-cronograma-proyecto></app-pestana-cronograma-proyecto>
  </mat-tab>
</mat-tab-group>
<!-- <div class="align-between border-top margin-top">
  <button mat-button class="button-back" (click)="emitirPasoAnterior()">
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button id="idSiguienteCronograma" mat-raised-button class="button-secondary" (click)="emitirPasoSiguiente()">
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div> -->
