<mat-tab-group>
  <mat-tab label="Descripción" *ngIf="pestanaDescripcionVisible">
    <app-pestana-descripcion-proyecto [editable]="descripcionesEditables"></app-pestana-descripcion-proyecto>
  </mat-tab>
  <mat-tab label="Cronograma" *ngIf="pestanaCronogramaVisible">
    <app-pestana-cronograma-proyecto [editable]="cronogramaEditable"></app-pestana-cronograma-proyecto>
  </mat-tab>
</mat-tab-group>
<div class="align-between border-top margin-top">
  <button mat-button class="button-back" (click)="emitirPasoAnterior()">
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button id="idSiguienteCronograma" mat-raised-button class="button-secondary" (click)="emitirPasoSiguiente()">
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
