.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8f0ff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 2.5em;
}

mat-slide-toggle {
  .mat-slide-toggle-bar {
    background-color: #6cb743 !important; // Default color
  }

  &.mat-checked {
    .mat-slide-toggle-thumb {
      background-color: #6cb743 !important;
    }
    .mat-slide-toggle-bar {
      background-color: #6cb743 !important;
    }
  }
}
