.my-container {
    justify-content: space-between;
    align-items: center;
    word-break: break-word;
    width: 70%;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.boton {
    margin-bottom: 30px;
}

.agenda {
    font-weight: bold;
    margin-bottom: 5px;
}

.subagenda {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.mat-panel-description {
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    flex-direction: column;
}
