<div class="accordion-udea margin-top">
  <!-- Botón guardar eliminado (solo lectura) -->
  <app-mensaje-exito-error></app-mensaje-exito-error>
  <mat-accordion *ngFor="let valor of listado; let i = index">
    <mat-expansion-panel class="expansion-space">
      <mat-expansion-panel-header class="header-accordions">
        <mat-panel-title>
          <button mat-icon-button *ngIf="editable">
            <span class="title-accordion">
              <mat-icon class="more" [matMenuTriggerFor]="menu">more_vert</mat-icon>
            </span>
          </button>
          <h3 *ngIf="valor.titulo" class="title-accordion">{{valor.titulo}}<span class="required">* </span>
          </h3>
          <p *ngIf="validarElementosSeleccionados(valor)" class="primary-color"> Tiene
            {{valor.elementosSeleccionados.length}} objetivos
            seleccionados</p>
          <p *ngIf="!validarElementosSeleccionados(valor)" class="required"> No tiene elementos seleccionados</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description *ngIf="valor.elementos && valor.elementos.length > 0">
        <ul>
          <div class="row margin-bottom">
            <div class="contextual-help">
              <div class="card-contextual">
                <img src="assets/img/ic-contextual-help.png" alt="Ayuda contextual">
                <p class="contextual-yellow">{{cambiarTitulo(valor.titulo, valor.singleSelection)}}</p>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let elemento of valor.elementos">
            <li *ngIf="!elemento.subagendas || !validarSubagendasSeleccionadas" class="list-item">
              <div class="my-container">
                {{ elemento.objetivo }}. {{ elemento.descripcion }}
              </div>
              <div>
                <mat-checkbox [(ngModel)]="elemento.seleccionado" [disabled]="elemento.disabled"
                  (change)="manejarCambioElemento(elemento, null, valor)"></mat-checkbox>
              </div>
            </li>
            <li *ngIf="elemento.subagendas && validarSubagendasSeleccionadas" class="list-item agenda">
              <div class="my-container">
                {{ elemento.objetivo }}. {{ elemento.descripcion }}
              </div>
            </li>
            <li *ngFor="let subagenda of elemento.subagendas" class="list-item">
              <div class="my-container subagenda">
                {{ elemento.objetivo }}.{{ subagenda.objetivo }}. {{ subagenda.descripcion }}
              </div>
              <div>
                <mat-checkbox [(ngModel)]="subagenda.seleccionado" [disabled]="elemento.disabled"
                  (change)="manejarCambioElemento(elemento, subagenda, valor)"></mat-checkbox>
              </div>
            </li>
          </ng-container>
        </ul>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>
