<!-- Edición deshabilitada: eliminar botones agregar y guardar -->

<app-mensaje-exito-error></app-mensaje-exito-error>

<app-lista-evaluadores-recomendados-proyecto [editable]="editable" ></app-lista-evaluadores-recomendados-proyecto>

<div class="align-between border-top margin-top">
  <button mat-button class="button-back" (click)="emitirPasoAnterior()">
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button mat-raised-button class="button-secondary" (click)="emitirPasoSiguiente()">
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>