<div class="content">
  <div class="col-10 margin-top" *ngIf="editable">
    <div class="contextual-help">
      <div class="card-contextual">
        <img src="assets/img/ic-contextual-help.png" alt="">
        <p class="contextual-yellow">En esta sección se ingresan los comentarios de las actualizaciones autorizadas de
          su
          proyecto, de clic en el
          botón editar para ingresar la información.</p>
        <a href="#contactTypes"></a>
      </div>
    </div>
  </div>

  <div class="accordion-udea margin-top"  *ngIf="editable">
    <mat-accordion>
      <mat-expansion-panel class="expansion-space">
        <mat-expansion-panel-header class="header-accordions">
          <mat-panel-title>
            <!-- Controles de edición eliminados (solo lectura) -->
            <h3 class="title-accordion">Comentarios</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHtml]="actualizacionActual.cambiosRealizados | formatoEstilos"></div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
    <!-- <app-tabla-actualizacion-proyecto></app-tabla-actualizacion-proyecto> -->
  </div>
  <div class="align-between border-top margin-top">
    <button mat-button class="button-back" (click)="emitirPasoAnterior()">
      <mat-icon>arrow_back</mat-icon>
      ANTERIOR
    </button>
    <button mat-raised-button class="button-secondary" (click)="emitirPasoSiguiente()">
      SIGUIENTE
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
