.example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }

  .container-search{
      padding: 20px;
  }

  .add-financer button{
      margin-left: 0;
  }

  .filter p{
    margin: 15px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
    color: #707070;
  }

  mat-chip-list .chip-filter{
      margin-top: 20px;
  }