<div class="accordion-udea margin-top">
  <div class="row">
    <div class="col col-10">
      <h3 class="medium-gray sub-space center-title">Componentes del proyecto</h3>
    </div>
  </div>

  <div class="row">
    <div class="col col-3" *ngFor="let componente of componentes$ | async">
      <mat-accordion class="margin-bottom">
        <mat-expansion-panel class="expansion-space">
          <mat-expansion-panel-header class="header-accordions">
            <mat-panel-title>
              <h3 class="title-accordion ellipsis-componente-macroproyecto" [matTooltip]="componente.titulo">{{componente.titulo}}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col col-10" *ngIf="!componente.proyectos || !componente.proyectos.length">
              <div class="alert-info">
                <mat-icon>info</mat-icon>
                Este componente no tiene proyectos asociados.
              </div>
            </div>

            <div class="col col-10" *ngIf="!!componente.proyectos">
              <p *ngFor="let proyectoAsociado of componente.proyectos">
                <a [routerLink]="[url, proyectoAsociado.codigoProyecto]" target="_blank">
                  {{proyectoAsociado.codigoProyecto}} - {{proyectoAsociado.nombreProyecto}}
                </a>
              </p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
