.card-financiador{
    margin: 0 20px 20px 0;
}

.card-body{
    margin: 0 0 25px 10px;
    word-break: break-all;
}

.position-bottom{
    position: fixed;
    bottom: 20px;
    left: 90px;
}

.d-flex{
    display: flex;
}

.title-card{
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.header-card .font-w{
    font-weight: 700;
}

.font-16{
    font-size: 16px;
    font-weight: 400;
}

.font-20{
    font-weight: 400;
    font-size: 20px;
}

.display-center{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.d-block{
    display: block;
}

.financer-select{
    padding: 0 0 15px 0;
}

.header-card{
    padding: 20px 0 0 15px;
}

button.mat-icon-color{
    color: #00838f;
}

.card-financer mat-card{
    margin: 0 40px 40px 0;
}

mat-card{
    margin-right: 10px;
    padding: 0;
    max-width: 30%;
}

mat-card:before {
    content: "";
    display: block;
    border-top: 4px solid white;
    transform: scaleX(0);
    transition: all .4s ease;
}

mat-card:hover{
    -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.2);
}

mat-card:hover:before {
    border-top-color: #70a203;
    transform: scaleX(1);
}


mat-card-content{
    margin-bottom: 0;
}

mat-card-content{
    padding: 20px;
}

mat-card-header{
    padding: 20px 0 0 20px;
}

mat-card-action{
    margin-bottom: 0;
}

.paginador{
    margin: 0 0 20px 0;
}


/* Flip card 2 */

.flip-card {
    /* background-color: transparent; */
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    z-index: 1;
    top: 0;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card.active .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card.active .flip-card-back {
    transform: rotateY(0);
  }

  .mat-card-header .close{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
  }
/* Media querys */

@media (max-width: 992px) {
    mat-card{
        max-width: 100%;
    }

    .position-bottom{
        text-align: center;
        position: static;
        left: 0;
        bottom: 0;
    }

    .card-financer mat-card{
        margin: 0 0 20px 0;
    }

    
}