<!-- Convocatoria -->
<!-- Obligatorios -->
<ng-container *ngIf="!mostrarTablaProcesoSeleccion">
  <div class="row no-wrap">
    <div class="col col-10">
      <div class="contextual-info margin-bottom">
        <img src="assets/img/ic-contextual-info.png" alt="ic-contextual-info">
        <p>Los siguientes compromisos están definidos en la convocatoria como obligatorios.</p>
      </div>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="header-accordions">
        <mat-panel-title>
          <h3>Compromisos obligatorios</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="table margin-top">
        <thead>
          <tr class="header-table">
            <th>Comentario</th>
            <th>Condición</th>
            <th>Comentario</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-hover" *ngFor="let compromiso of listaCompromisosObligatorios">
            <td>
              {{compromiso.compromiso.descripcion}}
            </td>
            <td>
              {{compromiso.compromiso.explicacionCondicion}}
            </td>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Comentario</mat-label>
                <textarea matInput placeholder="Comentario" [disabled]="!editable" [(ngModel)]="compromiso.comentario"></textarea>
                <mat-error *ngIf="compromiso.comentario?.length > longitudMaximaComentario">
                  Máximo 400 caracteres.
                </mat-error>
                <mat-hint align="end">{{compromiso.comentario?.length}} / 1200</mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- Opcionales -->
  <div class="margin-top">
    <div class="row no-wrap">
      <div class="col col-10">
        <div class="contextual-info margin-bottom">
          <img src="assets/img/ic-contextual-info.png" alt="ic-contextual-info">
          <p>Los siguientes compromisos están definidos en la convocatoria como opcionales. Seleccione los compromisos
            para
            su proyecto.</p>
        </div>
      </div>
    </div>
    <div class="margin-bottom" *ngIf="editable">
      <button mat-button class="add-fill" (click)="abrirAgregarCompromiso()">AGREGAR COMPROMISO</button>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="header-accordions">
          <mat-panel-title>
            <h3>Compromisos opcionales</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table class="table margin-top">
          <thead>
            <tr class="header-table">
              <th>Asumir compromiso</th>
              <th>Comentario</th>
              <th>Comentario</th>
              <th *ngIf="editable">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-hover" *ngFor="let compromiso of listaCompromisosOpcionales">
              <td>
                <mat-checkbox [disabled]="!editable || !compromiso.compromiso" [(ngModel)]="compromiso.asumido" (ngModelChange)="compromiso.asumido = $event ? 1 : 0"></mat-checkbox>
              </td>
              <td *ngIf="compromiso.compromiso">
                {{compromiso.compromiso.descripcion}}
              </td>
              <td *ngIf="!compromiso.compromiso">
                {{compromiso.descripcionPropio}}
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Comentario</mat-label>
                  <textarea matInput placeholder="Comentario" [disabled]="!editable" [(ngModel)]="compromiso.comentario"></textarea>
                  <mat-error *ngIf="compromiso.comentario?.length > longitudMaximaComentario">
                    Máximo 1200 caracteres.
                  </mat-error>
                  <mat-hint align="end">{{compromiso.comentario?.length}} / 1200</mat-hint>
                </mat-form-field>
              </td>
              <td *ngIf="editable">
                <ng-container *ngIf="!compromiso.compromiso">
                  <button class="button-more" [matMenuTriggerFor]="menu">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editarCompromiso(compromiso)">
                      <mat-icon class="icon-table">create</mat-icon>Editar
                    </button>
                    <button mat-menu-item (click)="abrirModalEliminarCompromiso(compromiso)">
                      <mat-icon class="icon-table">delete</mat-icon>Eliminar
                    </button>
                  </mat-menu>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>

<!-- Proceso selección -->
<div class="margin-top" *ngIf="mostrarTablaProcesoSeleccion">
  <div class="margin-bottom"  *ngIf="editable">
    <button mat-button class="add-fill" (click)="abrirAgregarCompromiso()">AGREGAR COMPROMISO</button>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="header-accordions">
        <mat-panel-title>
          <h3>Compromisos opcionales</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="table margin-top">
        <thead>
          <tr class="header-table">
            <th>Asumir compromiso</th>
            <th>Comentario</th>
            <th>Comentario</th>
            <th *ngIf="editable">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-hover" *ngFor="let compromiso of listaCompromisosOpcionales">
            <td>
              <mat-checkbox [disabled]="true" [(ngModel)]="compromiso.asumido"></mat-checkbox>
            </td>
            <td>
              {{compromiso.descripcionPropio}}
            </td>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Comentario</mat-label>
                <textarea matInput placeholder="Comentario" [disabled]="!editable" [(ngModel)]="compromiso.comentario"></textarea>
                <mat-error *ngIf="compromiso.comentario?.length > longitudMaximaComentario">
                  Máximo 1200 caracteres.
                </mat-error>
                <mat-hint align="end">{{compromiso.comentario?.length}} / 1200</mat-hint>
              </mat-form-field>
            </td>
            <td *ngIf="editable">
              <button class="button-more" [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editarCompromiso(compromiso)">
                  <mat-icon class="icon-table">create</mat-icon>Editar
                </button>
                <button mat-menu-item (click)="abrirModalEliminarCompromiso(compromiso)">
                  <mat-icon class="icon-table">delete</mat-icon>Eliminar
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
