h1 {
  font-size: 1.2em;
  margin: 0;
}

.container {
  height: 100%!important;
  background-color: #fff;
  display: flex;
}

.menu-button{
  padding: 1em;
}

.sidenav {
  padding: 1em;
}

.alert {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (max-width: 600px) {
  .sidenav {
    display: none;
  }
}
