<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" [mode]="isSmallScreen ? 'over' : 'side'" [opened]="drawerOpened">
    <h1>Busqueda proyectos</h1>
    <div class="alert">
      <app-alert label="Recuerde que puede filtrar la búsqueda por 1 o más parámetros" icon="lightbulb"></app-alert>
    </div>
    <div class="content">
      <app-sidebar-content></app-sidebar-content>
    </div>
  </mat-drawer>
  <app-button-rounded (click)="toggleDrawer()" class="menu-button" [icon]="drawerOpened ? 'close' : 'chevron_left'" />
</mat-drawer-container>
