<!-- Edición deshabilitada: eliminar botones agregar/guardar participantes -->

<app-mensaje-exito-error></app-mensaje-exito-error>

<!-- <app-agregar-participantes-proyecto *ngIf="formularioAgregarParticipante"
  (ocultarFormularioAgregarParticipante)="cambiarEstadoVistaFormularioAgregarParticipante()">
</app-agregar-participantes-proyecto> -->
<!-- <app-editar-participante-proyecto *ngIf="formularioEditarParticipante"
  (ocultarFormularioEditarParticipante)="cambiarEstadoVistaFormularioEditarParticipante()"
  [participanteEditar]="participanteEditar"></app-editar-participante-proyecto> -->
<app-tabla-participantes-proyecto [editable]="editable"
  (emitirParticipanteEditar)="cambiarEstadoVistaFormularioEditarParticipante($event)">
</app-tabla-participantes-proyecto>

<app-visor-componentes-proyecto url="/ver-participantes/" *ngIf="mostrarComponentes"></app-visor-componentes-proyecto>

<div class="align-between border-top margin-top">
  <button mat-button class="button-back" [disabled]="inhabilitarBoton" (click)="emitirPasoAnterior()">
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button mat-raised-button class="button-secondary" [disabled]="inhabilitarBoton" (click)="emitirPasoSiguiente()">
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
