.status{
    text-align: center;
    margin-bottom: 30px;

    min-height: 30px;
}

.status p{
    color: #8f8f8f;
    padding: 0 0 5px 0;
}

.bg-status span{
    background: #d9e8ff;
    color: #4e6d9d;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;
}

.container-wizard{
    background: white;
    width: 100%;
    height: 250px;

    position: absolute;
    left: 0;
    z-index: -100;
}

.title-w{
    margin-top: 0;
    padding-top: 10px;
}
