<mat-tab-group>
  <mat-tab label="Compromisos" *ngIf="pestanaCompromisosVisible">
    <app-pestana-compromisos-proyecto [editable]="editable"></app-pestana-compromisos-proyecto>  
  </mat-tab>
  <mat-tab label="Condiciones formales" *ngIf="pestanaCondicionesVisible">
      <app-pestana-condiciones-formales-proyecto [editable]="editable"></app-pestana-condiciones-formales-proyecto>    
  </mat-tab>
</mat-tab-group>
<div class="align-between border-top margin-top">
  <button mat-button class="button-back" (click)="emitirPasoAnterior()">
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button mat-raised-button class="button-secondary" (click)="emitirPasoSiguiente()">
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>