<mat-tab-group>
  <mat-tab label="Compromisos">
    <app-pestana-compromisos-proyecto></app-pestana-compromisos-proyecto>
  </mat-tab>
  <mat-tab label="Condiciones formales">
      <app-pestana-condiciones-formales-proyecto></app-pestana-condiciones-formales-proyecto>
  </mat-tab>
</mat-tab-group>
<!-- <div class="align-between border-top margin-top">
  <button mat-button class="button-back" (click)="emitirPasoAnterior()">
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button mat-raised-button class="button-secondary" (click)="emitirPasoSiguiente()">
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div> -->
