<form class="example-form" [formGroup]="formularioInformacionGeneralProyecto" autocomplete="off">
  <div class="container">
    <div class="alert-info margin-bottom" *ngIf="paraActualizacion">
      <mat-icon>info</mat-icon>
      <div class="col col-10">
        <p>Como parte del proceso de selección del proyecto se ha solicitado que realice cambios en
          las secciones <strong *ngFor="let seccion of seccionesHabilitadas">{{seccion}}, </strong> la solicitud fue
          realizada
          el <strong>{{fechaAutorizacion}}</strong> y tiene plazo hasta el <strong>{{fechaLimiteActualizacion}}</strong>
          para realizar
          los cambios y reenviar el proyecto. Si no envía el proyecto dentro del plazo estipulado, su proyecto será
          rechazado y no continuará su evaluación.
        </p>
        <br />
        <p>
          Navegue a la sección actualización para conocer en detalle  las
          recomendaciones de cambio. Si no acoge las recomendaciones, ingrese en la sección actualización la
          justificación para no realizar los cambios y reenvíe el proyecto. Si acoge las recomendaciones realice los
          cambios pertinentes, especifique en la sección actualización los cambios realizados y reenvíe el
          proyecto.</p>
      </div>
    </div>
    <mat-card class="card">
      <div class="content">
        <div class="forms">

          <div class="forms">
            <h3 class="medium-gray col col-10">
              <span class="required">* </span>Defina la información general de su proyecto
              <span class="btn-info" [matMenuTriggerFor]="infogeneralproyecto">
                <mat-icon class="light-gray more">info</mat-icon>
              </span>
              <mat-menu class="info-help" #infogeneralproyecto="matMenu">
                <h3 class="color-info">
                  <mat-icon class="more">info</mat-icon>¡Recuerde!
                </h3>
                <span>Escriba la información general de su proyecto</span>
              </mat-menu>
            </h3>

            <div class="row no-wrap direction-row">
              <div class="info-responsive">
                <h3 class="color-info">
                  <mat-icon class="more">info</mat-icon>Cómo matrícular el proyecto
                </h3>
                <span class="font-responsive">Macroproyecto​ es un proyecto que estará compuesto por dos o más
                  proyectos. Subproyecto ​es una clase de proyecto
                  que hará parte de otro proyecto, Por ejemplo Joven investigador.
                </span>
              </div>
              <div class="col col-10">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Matrícula de</mat-label>
                  <mat-select id="nivelProyecto" placeholder="Matrícula de" formControlName="nivelProyecto"
                    (selectionChange)="cambioNivelProyecto()">
                    <mat-option>Seleccione tipo de matrícula</mat-option>
                    <mat-option *ngFor="let nivelProyecto of listadoNivelProyecto"
                      [value]="nivelProyecto.identificador">{{nivelProyecto.nombre
                      | titlecase}}</mat-option>
                    <mat-option [value]="-1">Propuesta de trabajo de grado - Posgrados</mat-option>
                    <mat-option [value]="-2">Trabajo de grado - Posgrados</mat-option>  
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col content d-none">
                <p>
                  <span class="btn-info" [matMenuTriggerFor]="mensajeAyudaMatriculaDe">
                    <mat-icon class="light-gray more">info</mat-icon>
                  </span>
                  <mat-menu class="info-help" #mensajeAyudaMatriculaDe="matMenu">
                    <h3 class="color-info">
                      <mat-icon class="more">info</mat-icon>¡Recuerde!
                    </h3>
                    <span>Macroproyecto​ es un proyecto que estará compuesto por dos o más proyectos. Subproyecto ​es
                      una clase de proyecto
                      que hará parte de otro proyecto, Por ejemplo Joven investigador. </span>
                  </mat-menu>
                </p>
              </div>
              <div *ngIf="esMacroproyecto" class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Tipo de macroproyecto</mat-label>
                  <mat-select id="tipoProyecto" (selectionChange)="cambioTipoMacroproyecto()"
                    formControlName="tipoMacroproyecto" placeholder="Seleccione el tipo de macroproyecto">
                    <mat-option value="" selected="true">Seleccione un tipo de macroproyecto</mat-option>
                    <mat-option *ngFor="let tipoProyecto of listadoTipoProyectos" [value]="tipoProyecto.identificador">{{tipoProyecto.nombre
                      | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            
            <div class="row no-wrap">
              <div *ngIf="esClaseproyecto && !esProyectoPosgrados" class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Clase de proyecto</mat-label>
                  <mat-select id="claseProyecto" formControlName="claseProyecto" placeholder="Clase de proyecto"
                    (selectionChange)="cambioClaseProyecto()">
                    <mat-option>Seleccione la clase de proyecto</mat-option>
                    <mat-option *ngFor="let claseProyecto of listadoSubnivelProyecto"
                      [value]="claseProyecto.subnivelProyecto">{{claseProyecto.nombre
                      | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>

              <div *ngIf="esTipoSubproyecto && !esProyectoPosgrados" class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Tipo de subproyecto</mat-label>
                  <mat-select id="tipoSubproyecto" formControlName="tipoSubproyecto"
                    placeholder="Seleccione el tipo de subproyecto" (selectionChange)="cambioTipoSubproyecto()">
                    <mat-option>Seleccione el tipo de subproyecto</mat-option>
                    <mat-option *ngFor="let tipoSubproyecto of listadoclaseSubproyectos"
                      [value]="tipoSubproyecto.identificador">{{tipoSubproyecto.nombre
                      | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div *ngIf="!esMacroproyecto" class="row no-wrap">
              <div class="col col-5" *ngIf="!esProyectoPosgrados">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Tipo de proyecto</mat-label>
                  <mat-select (selectionChange)="cambioTipoProyecto()" id="tipoProyecto" formControlName="tipoProyecto"
                    placeholder="Seleccione el tipo de tipo de proyecto">
                    <mat-option>Seleccione el tipo de proyecto</mat-option>
                    <mat-option *ngFor="let tipoProyecto of listadoTipoProyectos" [value]="tipoProyecto.identificador">{{tipoProyecto.nombre
                      | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
              <ng-container *ngIf="!esMacroproyecto">
                <div class="info-responsive">
                  <h3 class="color-info">
                    <mat-icon class="more">info</mat-icon>Así se clasifican
                  </h3>
                  <span class="font-responsive">Los proyectos pueden ser clasificados por propósito, es decir, para
                    investigación hay dos categorías:
                    investigación aplicada y básica; para extensión hay cinco tipos: Responsabilidad e Innovación
                    Social, Innovación, Cultura y Patrimonio,
                    Asesoría y Consultoría y Prácticas Académicas.
                  </span>
                </div>
                <div class="col col-5">
                  <mat-form-field appearance="fill" class="element">
                    <mat-label><span class="required">* </span>Clasificación</mat-label>
                    <mat-select id="subTipoProyecto" formControlName="subTipoProyecto"
                      placeholder="Seleccione la clasificación">
                      <mat-option>Seleccione la clasificación</mat-option>
                      <mat-option *ngFor="let subTipoProyecto of listadoSubtipoProyecto" [value]="subTipoProyecto">{{subTipoProyecto.nombre
                        | titlecase}}</mat-option>
                    </mat-select>
                    <mat-error>
                      Este campo es obligatorio.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col content d-none">
                  <p>
                    <span class="btn-info" [matMenuTriggerFor]="mensajeAyudaClasificacion">
                      <mat-icon class="light-gray more">info</mat-icon>
                    </span>
                    <mat-menu class="info-help" #mensajeAyudaClasificacion="matMenu">
                      <h3 class="color-info">
                        <mat-icon class="more">info</mat-icon>¡Recuerde!
                      </h3>
                      <span>Los proyectos pueden ser clasificados por propósito, es decir, para investigación hay dos
                        categorías:
                        investigación aplicada y básica; para extensión hay cinco tipos: Responsabilidad e Innovación
                        Social, Innovación, Cultura y Patrimonio,
                        Asesoría y Consultoría y Prácticas Académicas.</span>
                    </mat-menu>
                  </p>
                </div>
              </ng-container>
            </div>

            <div class="row no-wrap">
              <div *ngIf="esMacroproyectoPertenece" class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Macroproyecto al que pertenece</mat-label>
                  <mat-select id="macroproyecto" formControlName="macroproyecto"
                    (selectionChange)="cambioMacroproyecto()"
                    placeholder="Seleccione el macroproyecto al que pertenece">
                    <mat-option>Seleccione el macroproyecto</mat-option>
                    <mat-option *ngFor="let macroproyecto of listaMacroproyectos" [value]="macroproyecto">{{macroproyecto.nombreCorto
                      | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>

              <div *ngIf="esComponente" class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Componente</mat-label>
                  <mat-select id="componente" formControlName="componente" placeholder="Seleccione el componente">
                    <mat-option>Seleccione el componente</mat-option>
                    <mat-option *ngFor="let componente of listaComponentes" [value]="componente.identificador">{{componente.titulo
                      | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="forms">
            <div *ngIf="matriculaProyecto">
              <h3 class="medium-gray col col-10 sub-space border-top"><span class="required">* </span>
                Seleccione en cuál de estas dos opciones va a matricular su proyecto
                <span class="btn-info" [matMenuTriggerFor]="matriculadeproyecto">
                  <mat-icon class="light-gray more">info</mat-icon>
                </span>
                <mat-menu class="info-help" #matriculadeproyecto="matMenu">
                  <h3 class="color-info">
                    <mat-icon class="more">info</mat-icon>¡Recuerde!
                  </h3>
                  <span>Seleccione en cuál de estas dos opciones va a matricular su proyecto</span>
                </mat-menu>
              </h3>

              <div class="row no-wrap">
                <div class="info-responsive">
                  <h3 class="color-info">
                    <mat-icon class="more">info</mat-icon>Centro de gestión
                  </h3>
                  <span class="font-responsive">
                    Aquí se matriculan proyectos que no están enmarcados dentro de una convocatoria y que serán
                    asociados
                    a un proceso de selección. Por ejemplo: Inscritos, Aval Institucional, etc.
                  </span>
                </div>
                <div class="col col-10">
                  <mat-radio-group formControlName="tipoMatriculaProyecto" id="tipoMatriculaProyecto"
                    (change)="validarCambioTipoMatriculaProyecto()">
                    <div class="row no-wrap">
                      <div class="col col-5 radio-style"
                        [ngClass]="{active: f.tipoMatriculaProyecto.value === 'convocatoria'}">
                        <mat-radio-button value="convocatoria">Convocatoria</mat-radio-button>
                      </div>
                      <div class="col col-5 radio-style"
                        [ngClass]="{active: f.tipoMatriculaProyecto.value === 'procesoSeleccion'}">
                        <mat-radio-button value="procesoSeleccion">Proceso de selección</mat-radio-button>
                      </div>
                    </div>
                    <mat-error *ngIf="f.tipoMatriculaProyecto?.dirty && f.tipoMatriculaProyecto.errors?.required">
                      Este campo es obligatorio.
                    </mat-error>
                  </mat-radio-group>
                </div>
              </div>

              <div class="row no-wrap" *ngIf="f.tipoMatriculaProyecto.value !== ''">
                <ng-container *ngIf="f.tipoMatriculaProyecto.value === 'procesoSeleccion'; else elseTemplate">
                  <div class="col col-5">
                    <mat-form-field appearance="fill" class="element">
                      <mat-label><span class="required">* </span>Proceso de selección</mat-label>
                      <mat-select id="idProcesoSeleccion" formControlName="procesoSeleccion"
                        placeholder="Proceso de selección" (selectionChange)="procesoSeleccionSeleccionado()">
                        <mat-option>Seleccione el proceso de selección</mat-option>
                        <mat-option *ngFor="let proceso of listaProcesosSeleccion" [value]="proceso">
                          {{proceso.nombre | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="f.procesoSeleccion.errors?.required">
                        Este campo es obligatorio.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div>
                    <p>
                      <span #trigger="matMenuTrigger" [matMenuTriggerFor]="mensajeProcesoSeleccion">
                      </span>
                      <mat-menu class="info-help" #mensajeProcesoSeleccion="matMenu">
                        <h3 class="color-info">
                          <mat-icon class="more">info</mat-icon>¡Recuerde!
                        </h3>
                        <span>{{mensajeProceSeleccion}}</span>
                      </mat-menu>
                    </p>
                  </div>
                  <div class="col content d-none">
                    <p>
                      <span class="btn-info" [matMenuTriggerFor]="mensajeAyudaProcesoSeleccion">
                        <mat-icon class="light-gray more">info</mat-icon>
                      </span>
                      <mat-menu class="info-help" #mensajeAyudaProcesoSeleccion="matMenu">
                        <h3 class="color-info">
                          <mat-icon class="more">info</mat-icon>¡Recuerde!
                        </h3>
                        <span>Aquí se matriculan proyectos que no están enmarcados dentro de una convocatoria y que
                          serán asociados
                          a un proceso de selección. Por ejemplo: Inscritos, Aval Institucional, etc.</span>
                      </mat-menu>
                    </p>
                  </div>
                </ng-container>
                <ng-template #elseTemplate>
                  <div class="col col-5">
                    <mat-form-field appearance="fill" class="element">
                      <mat-label><span class="required">* </span>Convocatoria</mat-label>
                      <mat-select formControlName="convocatoria" placeholder="Convocatoria"
                        (selectionChange)="procesoConvocatoriaSeleccionado()"
                        (selectionChange)="obtenerModalidades($event.value)">
                        <mat-option>Seleccione la convocatoria</mat-option>
                        <mat-option *ngFor="let convocatoria of listaConvocatorias" [value]="convocatoria">
                          {{convocatoria.nombre | titlecase}} </mat-option>
                      </mat-select>
                      <mat-error *ngIf="f.convocatoria.errors?.required">
                        Este campo es obligatorio.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col content d-none">
                    <p>
                      <span class="btn-info" [matMenuTriggerFor]="mensajeAyudaConvocatoria">
                        <mat-icon class="light-gray more">info</mat-icon>
                      </span>
                      <mat-menu class="info-help" #mensajeAyudaConvocatoria="matMenu">
                        <h3 class="color-info">
                          <mat-icon class="more">info</mat-icon>¡Recuerde!
                        </h3>
                        <span>Aquí se matriculan proyectos que se presentarán a una convocatoria interna o externa y que
                          deben
                          cumplir con ciertos términos de referencia. Por ejemplo CODI, BUPPE, Colciencias, etc.</span>
                      </mat-menu>
                    </p>
                  </div>
                </ng-template>
              </div>


              <div class="row no-wrap" *ngIf="activarModalidades">
                <div class="col col-5">
                  <mat-form-field appearance="fill" class="element">
                    <mat-label><span class="required">* </span>Modalidad de financiación</mat-label>
                    <mat-select formControlName="modalidad" placeholder="Modalidad de financiación"
                      (selectionChange)="cambioModalidad()">
                      <mat-option>Seleccione la modalidad de financiación</mat-option>
                      <mat-option *ngFor="let modalidad of listaModalidadesConvocatoria" [value]="modalidad">
                        {{modalidad.nombre | titlecase}} - {{modalidad.montoMaximo}}</mat-option>
                    </mat-select>
                    <mat-error>
                      Este campo es obligatorio.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row no-wrap" *ngIf="esTipoSubproyecto">
              <div class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Grupo de investigación</mat-label>
                  <mat-select placeholder="Seleccione el grupo de investigación" formControlName="grupo"
                    (selectionChange)="cambioGrupo()">
                    <mat-option>Seleccione el grupo de investigación</mat-option>
                    <mat-option *ngFor="let grupo of listaGrupoInvestigacion" [value]="grupo">{{grupo.nombreCompleto}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row no-wrap" *ngIf="esTipoSubproyecto">
              <div class="col col-5" *ngIf="f.grupo.value !== '' && !!f.tipoProyecto.value">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>
                    {{ tipoProyecto === 3 ? 'Codigo propuesta de posgrado' : 'Proyecto al que se vincula el J.I' }}
                  </mat-label>
                  <input formControlName="proyectoVinculaJi" matInput type="text"
                    [placeholder]="tipoProyecto === 3 ? 'Seleccione la propuesta de posgrado' : 'Seleccione el proyecto al que se vincula el J.I'" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="nombreProyecto">
                    <mat-option *ngFor="let opcion of opcionesFiltradasProyecto | async" [value]="opcion">
                      {{opcion.codigo}} - {{opcion.nombreCorto | titlecase}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="f.proyectoVinculaJi.errors?.required">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="f.proyectoVinculaJi.errors?.valorValido">
                    Debe seleccionar un proyecto válido del listado autocompletar.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col content d-none" *ngIf="tipoProyecto === 3">
                <p>
                  <span class="btn-info" [matMenuTriggerFor]="mensajeAyudaProyectoPosgrado">
                    <mat-icon class="light-gray more">info</mat-icon>
                  </span>
                  <mat-menu class="info-help" #mensajeAyudaProyectoPosgrado="matMenu">
                    <h3 class="color-info">
                      <mat-icon class="more">info</mat-icon>¡Recuerde!
                    </h3>
                    <span>
                      Debe ingresar el código de la propuesta de posgrado aprobada por la unidad académica.
                    </span>
                  </mat-menu>
                </p>
              </div>
              <div class="col col-2" *ngIf="esTipoSubproyecto">
                <mat-label>Proyecto no registrado en SIIU</mat-label>
                <mat-slide-toggle placeholder="Seleccione si el proyecto no fue registrado en SIIU"
                  formControlName="proyectoNoRegistradoSiiu" (change)=onProyectoNoRegistrado($event)></mat-slide-toggle>
              </div>

              <div class="col col-2" *ngIf="esTipoSubproyecto">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Título del proyecto</mat-label>
                  <input matInput placeholder="Título del proyecto" formControlName="tituloProyecto">
                  <mat-error *ngIf="f.tituloProyecto.errors?.required">
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row no-wrap direction-row">
              <div class="col col-5" *ngIf="esTipoSubproyecto">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Justificación</mat-label>
                  <input matInput placeholder="Justificación" formControlName="justificacion">
                  <mat-error *ngIf="f.justificacion.errors?.required">
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="info-responsive">
                <h3 class="color-info">
                  <mat-icon class="more">info</mat-icon>Centro de gestión
                </h3>
                <span class="font-responsive">
                  Seleccione el centro al que enviará el proyecto para que sea gestionado.
                </span>
              </div>

              <div class="col col-10">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Centro administrativo</mat-label>
                  <mat-select id="idCentroAdministrativo" formControlName="centroAdministrativo"
                    placeholder="Centro administrativo">
                    <mat-option>Seleccione el centro administrativo</mat-option>
                    <mat-option *ngFor="let centro of centrosAdministrativos" [value]="centro.identificador">
                      <label>{{centro.nombre | titlecase}} - {{centro.nombreCorto | titlecase}}</label>
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col content d-none">
                <p>
                  <span class="btn-info" [matMenuTriggerFor]="mensajeAyudaCentroAdministrativo">
                    <mat-icon class="light-gray more">info</mat-icon>
                  </span>
                  <mat-menu class="info-help" #mensajeAyudaCentroAdministrativo="matMenu">
                    <h3 class="color-info">
                      <mat-icon class="more">info</mat-icon>¡Recuerde!
                    </h3>
                    <span>Seleccione el centro al que enviará el proyecto para que sea gestionado.</span>
                  </mat-menu>
                </p>
              </div>
            </div>
            <div class="row border-top margin-title">
              <h3 class="medium-gray col">
                Active esta opción, si requiere comité de bioética
              </h3>
            </div>
            <div class="row no-wrap ">
              <div class="col col-5">
                <div class="requiere-toggle">
                  <mat-label>Requiere comité de bioética </mat-label>
                  <mat-slide-toggle id="idRequiereComiteBioetica" formControlName="requiereComiteBioetica"
                    placeholder="Seleccione si el proyecto requiere comité de bioética"
                    (change)="onRequiereComiteBioetica($event)"></mat-slide-toggle>
                </div>
              </div>

              <div class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label>Comité de bioética</mat-label>
                  <mat-select formControlName="comiteBioetica" placeholder="Comité de bioética" id="idComiteBioetica">
                    <mat-option>Seleccione el comité de bioética</mat-option>
                    <mat-option *ngFor="let comite of listadoComiteBioetica" [value]="comite.identificador">
                      <label>{{comite.nombre | titlecase}}</label>
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row border-top margin-title">
              <h3 class="medium-gray col">
                <span class="required">* </span>Defina el nombre del proyecto y el lugar donde se desarrollará
              </h3>
            </div>
            <div class="row no-wrap">
              <div class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Nombre corto</mat-label>
                  <input id="idNombre" matInput placeholder="Ejemplo: Proyecto de investigación Ciencias"
                    formControlName="nombreCorto">
                  <mat-error *ngIf="f.nombreCorto.errors?.required">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="f.nombreCorto.errors?.maxlength">
                    Solo se permiten {{f.nombreCorto.errors.maxlength.requiredLength}} caracteres.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Nombre completo</mat-label>
                  <input id="idNombreCompleto" matInput
                    placeholder="Ejemplo: Proyecto de investigación Ciencias naturales"
                    formControlName="nombreCompleto">
                  <mat-error *ngIf="f.nombreCompleto.errors?.required">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="f.nombreCompleto.errors?.maxlength">
                    Solo se permiten {{f.nombreCompleto.errors.maxlength.requiredLength}} caracteres.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row no-wrap">
              <div class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Palabras clave</mat-label>
                  <input id="idPalabraClave" matInput placeholder="Ejemplo: Investigación, prácticas, postgrado, etc."
                    formControlName="palabrasClave">
                  <mat-error *ngIf="f.palabrasClave.errors?.required">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="f.palabrasClave.errors?.maxlength">
                    Solo se permiten {{f.palabrasClave.errors.maxlength.requiredLength}} caracteres.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Seccional</mat-label>
                  <mat-select id="idSeccional" placeholder="Seccional" formControlName="seccional">
                    <mat-option [value]="''">Seleccione una seccional</mat-option>
                    <mat-option *ngFor="let seccional of listaSeccionales" [value]="seccional.identificador">{{seccional.nombre
                      | titlecase}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="f.seccional.errors?.required">
                    Este campo es obligatorio.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row no-wrap">
              <div class="info-responsive">
                <h3 class="color-info">
                  <mat-icon class="more">info</mat-icon>¿Dónde se desarrollará?
                </h3>
                <span class="font-responsive">
                  Espacio físico donde se desarrollará el proyecto.
                </span>
              </div>

              <div class="col col-4">
                <mat-form-field appearance="fill" class="element border-gray">
                  <mat-label><span>* </span>{{tituloLugarEjecucion}}</mat-label>
                  <input id="idLugarEjecucion" matInput placeholder="Ejemplo: Auditorio Universidad de Antioquia" 
                    (click)="abrirModalUbicacion()" formControlName="lugarEjecucion">
                  <mat-error *ngIf="f.lugarEjecucion.errors?.maxlength">
                    Solo se permiten {{f.lugarEjecucion.errors.maxlength.requiredLength}} caracteres.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col content d-none">
                <p>
                  <span class="btn-info" [matMenuTriggerFor]="mensajeAyudaLugarEjecucion">
                    <mat-icon class="light-gray more">info</mat-icon>
                  </span>
                  <mat-menu class="info-help" #mensajeAyudaLugarEjecucion="matMenu">
                    <h3 class="color-info">
                      <mat-icon class="more">info</mat-icon>¡Recuerde!
                    </h3>
                    <span>Espacio físico donde se desarrollará el proyecto.</span>
                  </mat-menu>
                </p>
              </div>
              <div class="col col-5">
                <mat-form-field appearance="fill" class="element">
                  <mat-label><span class="required">* </span>Duración</mat-label>
                  <input id="idDuracion" matInput type="number"
                    placeholder="Defina el tiempo que tomará el proyecto (Meses)" formControlName="duracion">
                  <mat-error *ngIf="f.duracion.errors?.required">
                    Este campo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="f.duracion.errors?.min">
                    El valor debe ser mayor o igual a {{f.duracion.errors.min.min}}
                  </mat-error>
                  <mat-error *ngIf="f.duracion.errors?.max">
                    <span *ngIf="errorDuracionMacroproyecto">
                      la duración supera la del macroproyecto asociado que es: {{f.duracion.errors.max.max}}
                    </span>
                    <span *ngIf="!errorDuracionMacroproyecto">
                      la duración supera la duración de la modalidad seleccionada, que es: {{f.duracion.errors.max.max}}
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div><!-- Fin de la sección tipo proyecto -->
        </div>
      </div>

      <div class="content">
        <div class="row">
          <div *ngIf="personaNatural" class="col col-5">
            <div class="row card-responsable">
              <div class="col-5">
                <div class="b-bottom">
                  <div class="d-inline-b">
                    <img src="assets/img/ic-responsable-2.png" alt="icono-persona-responsable">
                  </div>
                  <div class="d-inline-b">
                    <span>Responsable</span>
                    <h3>{{responsable}}</h3>
                  </div>
                  <div align="end">
                    <p>
                      <span class="btn-info" [matMenuTriggerFor]="mensajeAyudaMatriculaDe">
                        <mat-icon class="light-gray more">info</mat-icon>
                      </span>
                      <mat-menu class="info-help" #mensajeAyudaMatriculaDe="matMenu">
                        <h3 class="color-info">
                          <mat-icon class="more">info</mat-icon>¡Recuerde!
                        </h3>
                        <span>El responsable es quien estará a cargo de todo lo relacionado con la gestión
                          administrativa del proyecto y
                          específicamente su acceso y seguimiento en el SIIU. No necesariamente es el Investigador
                          Principal o Coordinador del Proyecto.</span>
                      </mat-menu>
                    </p>
                  </div>
                </div>
                <div class="dates">
                  <div class="d-inline-b m-right">
                    <span>
                      <mat-icon class="upper">mail</mat-icon>Correo electrónico
                    </span>
                    <p>{{personaNatural.correoElectronico}}</p>
                  </div>
                  <div class="d-inline-b m-right">
                    <span>
                      <mat-icon class="upper">phone</mat-icon>Teléfono
                    </span>
                    <p>{{personaNatural.telefono}}</p>
                  </div>
                  <div class="d-inline-b">
                    <span>
                      <mat-icon class="upper">account_box</mat-icon>Identificación
                    </span>
                    <p>{{personaNatural.identificacion}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-2" align="end">
                <div class="buttons padding-top">
                <!-- Botón guardar eliminado (solo lectura) -->
                <button id="btn-siguiente" class="button-secondary" mat-raised-button (click)="emitirSiguientePaso()">
                  SIGUIENTE
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</form>