mat-card{
    padding: 0px;
    border-top: 4px solid #70a203;
    margin: 40px 0;
}

.card-responsable{
    background: #f3f3f3;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.card-responsable span{
    font-size: 14px;
    color: #929191;
}

.card-responsable p{
    font-size: 16px;
}

.card-responsable h3{
    font-size: 18px;
}

.id{
    font-size: 14px;
}

img{
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.d-inline-b{
    display: inline-block;
}

.b-bottom{
    background: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.m-right{
    margin-right: 30px;
}

.dates{
    padding: 10px 20px;
    margin-top: 5px;
}

.upper{
    font-size: 18px;
    color: #aeaeae;
    vertical-align: sub;
}

.requiere-toggle{
    background:#d9e8ff;
    padding: 20px;
    align-items: baseline;
    color: #4e6d9d;
    font-weight: 500;
}

.requiere-toggle .mat-slide-toggle{
    float: right;
}

.radio-style{
    border: 1px solid #c1c1c1;
    margin: 5px 5px 15px 0;
    padding: 15px 0 0 0;
    border-radius: 2px;
}

.radio-style.active{
    border: 1px solid #70a203;
    color: #70a203;
    background: #fdfff7;
}

.margin-title{
    margin: 10px 0;
    padding-top: 30px;
}

.w-5{
    width: 40%;
}

::ng-deep .mat-menu-content{
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
}

.info-responsive{
    display: none;
}

.font-responsive{
    font-size: 12px;
}

@media (max-width: 768px){
    
     /* .direction-row{
         display: flex;
         flex-direction: row;
     } */

     .position-absolute{
         position: absolute;
         right: -15px;
     }

     .info-responsive{
         display: block;
         background: aliceblue;
        border-radius: 2px;
        padding: 10px;
        margin: 10px;
     }

     .d-none{
         display: none;
     }

     .requiere-toggle{
         margin-bottom: 10px;
     }

     .d-inline-b{
        display: block;
        padding: 10px 0;
     }
 }

::ng-deep .mat-select-panel {
    max-height: 300px !important;
}
