mat-card{
    padding: 0px;
    border-top: 4px solid #70a203;
    margin: 40px 0;
}

.buttons{
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.select{
    border-top: 1px solid #c7c7c7;
    padding-top: 20px;
} 


.card-responsable{
    background: #f3f3f3;
    display: flex;
    align-items: center;
}

.icon-responsable{
    margin-right: 25px;
}
.icon-responsable mat-icon{
    background: #dadada;
    padding: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.card-responsable span{
    font-size: 14px;
    color: #929191;
}

.card-responsable p{
    font-size: 18px;
}

.margin-bottom .button-select{
    margin-right: 10px;
}

.card-responsable{
    background: #f3f3f3;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.card-responsable span{
    font-size: 14px;
    color: #929191;
}

.card-responsable p{
    font-size: 16px;
}

.card-responsable h3{
    font-size: 18px;
}

.id{
    font-size: 14px;
}

img{
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.d-inline-b{
    display: inline-block;
}

.b-bottom{
    background: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.m-right{
    margin-right: 30px;
}

.dates{
    padding: 10px 20px;
    margin-top: 5px;
}

.upper{
    font-size: 18px;
    color: #aeaeae;
    vertical-align: sub;
}

.text-suggest{
    font-size: 14px;
}