<div class="fade-b-t">
  <!-- Edición deshabilitada: eliminar botones agregar y guardar -->

  <app-mensaje-exito-error></app-mensaje-exito-error>

  <app-lista-componente-proyecto [editable]="editable"></app-lista-componente-proyecto>
  <div class="buttons align-between margin-top">
    <button mat-button class="button-back" awPreviousStep>
      <mat-icon>arrow_back</mat-icon>
      ANTERIOR
    </button>
    <button mat-raised-button class="button-secondary" (click)="validarComponente()" awNextStep>
      SIGUIENTE
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>