<div class="fade-b-t">
  <!-- Edición deshabilitada: mostrar solo información -->
</div>

<app-mensaje-exito-error></app-mensaje-exito-error>

<app-lista-documentos-soporte-proyecto [editable]="editable"></app-lista-documentos-soporte-proyecto>
<div class="align-between border-top margin-top">
  <button mat-button class="button-back" (click)="emitirPasoAnterior()">
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button mat-raised-button *ngIf="publicarVisible" class="button-secondary" (click)="emitirPasoSiguiente()">
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>