<div class="fade-b-t">
  <div class="row space-wizard" *ngIf="editable">
    <div class="col-5 align-center">
      <div>
        <button mat-button class="add-fill" (click)=" abrirModalAgregarDocumentoSoporte()">AGREGAR DOCUMENTO
          SOPORTE</button>
      </div>
      <div class="margin-left">
        <button mat-raised-button class="save-fill" (click)="guardarDocumentos()">GUARDAR
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-5"
      *ngIf="!this.formularioServicio.obtenerFormularioConvocatoria().documentoSoporteFromulario.accionesDocumento">
      <div class="contextual-help">
        <div class="card-contextual">
          <img src="assets/img/ic-contextual-help.png" alt="">
          <p class="contextual-yellow">Para agregar un documento soporte debe hacer clic en el botón agregar documento
            soporte.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="editable && listaDocumento.length === 0">
    <div class="col-10">
      <div class="onboarding margin-top margin-bottom">
        <p>Crea los items que componen este paso</p>
      </div>
      <div class="onboarding">
        <p>Recuerda completar cada uno de los campos</p>
      </div>
      <div class="onboarding">
        <p>Revisa la información antes de continuar</p>
      </div>
    </div>
  </div>
</div>

<app-mensaje-exito-error></app-mensaje-exito-error>

<app-lista-documentos-soporte-proyecto [editable]="editable"></app-lista-documentos-soporte-proyecto>
<div class="align-between border-top margin-top">
  <button mat-button class="button-back" (click)="emitirPasoAnterior()">
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button mat-raised-button *ngIf="publicarVisible" class="button-secondary" (click)="emitirPasoSiguiente()">
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>