<mat-stepper [linear]="isLinear" #stepper>
  <mat-step *ngFor="let step of steps; let i = index" [stepControl]="step.formGroup">
    <form [formGroup]="step.formGroup">
      <ng-template matStepLabel>{{ step.label }}</ng-template>
      <mat-card>
        <mat-card-content>
          <ng-container *ngComponentOutlet="step.component; injector: step.injector"></ng-container>
          <mat-divider class="divider" />
          <div class="form-buttons">
            <app-general-info-card-info />
            <app-button-primary *ngIf="i > 0" [label]="'Anterior'" [icon]="'assignment_turned_in'"
              (clicked)="goToPreviousStep()" />

            <app-button-primary *ngIf="i < steps.length - 1" [label]="'Siguiente'" [icon]="'assignment_turned_in'"
              (clicked)="goToNextStep()" />

            <app-button-primary *ngIf="i === steps.length - 1" [label]="'Cerrar Inicio Formal'"
              [icon]="'assignment_turned_in'" (clicked)="goToNextStep()" />
          </div>
        </mat-card-content>
        <div> </div>
        <app-footer />
      </mat-card>
    </form>
  </mat-step>
</mat-stepper>
