::ng-deep .mat-horizontal-stepper-header-container {
  justify-content: space-between;
}

::ng-deep .mat-step-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

::ng-deep .mat-step-icon {
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #6cb743;
  color: #6cb743;
}

::ng-deep .mat-step-header.mat-step-done .mat-step-icon {
  background-color: white;
  border-color: #6cb743;
  color: #6cb743;
}

::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
  color: black;
  background-color: rgb(236, 236, 236);
  width: 2.5em;
  height: 2.5em;
}

form {
  margin-top: 5em;
  background-color: rgb(243, 243, 243);
  padding: 1em;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4em;
}