td{
    padding: 8px 10px;
    overflow: hidden;
  }
  
  form td:not(:last-child){
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 5;
    max-height: 35px;
    max-width: 300px;
  }
  
  .header-table{
    background: #f3f3f3;
    color: #777777;
    white-space: nowrap;
  }
  
  .icon-table:hover{
    background: #e7e7e7;
    border-radius: 50%;
    padding: 8px 6px 2px 6px;
  
  }

  .table-hover td button:focus{
    outline: none;
  }

  .card-accordion mat-icon{
    font-size: 18px;
    vertical-align: middle;
    color: #9E9E9E;
  }
  
  
  @media (max-width: 992px){
    #result-table{
      width: 90%;
    }
  }
  
  @media (max-width: 768px){
    #result-table{
      width: 90%;
    }
  }
  
  @media (max-width: 576px){
    #result-table{
      width: 90%;
    }
  }