.status-card {
  background-color: #dde8ff;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Centra el texto */
}

.title, .id, .approved {
  font-weight: bold;
  color: #2d5daa;
}

.form-group-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 100%;
  margin-right: 5em;
}

.container {
  background-color: white;
}

.divider {
  margin-top: 2em;
  margin-bottom: 2em;
}

mat-icon {
  color: #b0b0b0;
  cursor: pointer;
}


