.actions-table button.button-action-table{
    padding: 2px 5px;
    font-size: 12px;
    box-shadow: none;
    background: white;
    color: gray;
    margin: 18px 0 0 20px;
    border: 1px solid #c1c1c1;
}

.actions-table mat-icon{
    font-size: 20px;
}

.margin-left{
    margin-left: 20px;
}

.margin-right{
    margin-right: 20px;
}

.small-help p{
    font-size: 12px;
    padding: 10px;
}

.small-help{
    margin-bottom: 20px;
}

.header p{
    font-size: 14px;
    color: blueviolet;
}

.button-check{
    margin: 0 5px 0 10px;
    border: none;
    padding: 5px;
    border-radius: 2px;
    color: #565656;
    background: #dedede;
    font-size: 12px;
}

.button-check:hover{
    background: #cccccc;
}

.button-check.active{
    background: #d4eaec;
    color: #01838f;
    border: 2px solid #01838f40;
}

.button-check input, label{
    cursor: pointer;
}

.button-check mat-icon{
    vertical-align: middle;
}

.button-check input{
    display: none;
}

.info-box{
    float: right;
    background: #fdf9ee;
    border-radius: 4px;
    border: 1px solid #dbcb96;
    color: #97751e;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.info-box img{
    width: 35px;
}

.actions-table ::ng-deep mat-form-field {
    width: 130px;
    height: 40px;
}

.actions-table ::ng-deep mat-form-field .mat-form-field-wrapper {
    height: 40px;
}

.actions-table ::ng-deep mat-form-field .mat-form-field-flex {
    height: 40px;
    padding-top: 0px;
}

.font-small{
    font-size: 14px;
    line-height: 18px;
    color: #6a6a6a;
    padding: 10px 15px;
}

.contextual-yellow{
    padding: 20px 15px 5px 15px;
}

.money-info {
    color: #707070;
}