.content-card mat-icon{
    margin: 0px 10px 0px 0px;
}

.permite{
    color: rgb(128, 128, 128);
    display: flex;
    margin: 0 10px 0 0;
}

.download-card img{
    width: 30px;
    vertical-align: middle;
    padding: 0 10px 0 0;
}

.download-card p{
    padding: 5px 0 0px 10px;
}


.download-btn{
    margin-top: 10px;
}

.download-btn a{
    color: white;
    font-size: 16px;
    background: #128b97;
    padding: 8px 15px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.download-btn mat-icon{
    vertical-align: middle;
    padding: 0px 0px 0px 10px;
}

.download-btn a:hover{
    background: #0f737c;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

}

.text-card h3{
    font-size: 14px;
    color: #a0a0a0;
}

.text-card p{
    font-weight: 600;
}



@media (max-width: 768px){
    .download-btn{
        padding: 7px;
    }
}