<!-- Edición deshabilitada: eliminar botones agregar/guardar -->
<div class="row">
  <form [formGroup]="formularioPeriodo" autocomplete="off">
    <div class="row">
      <div class="col-10">
        <div *ngIf="listaCronogramaProyecto$.length > 0">
          <mat-form-field appearance="fill">
            <mat-label>Período</mat-label>
            <mat-select formControlName="periodo" (selectionChange)="validarPeriodoSeleccionado()">
              <mat-option *ngFor="let periodo of listaPeriodo" [value]="periodo.nombreDB">
                {{periodo?.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div class="col-6 align-end">
    <div>
      <button class="button-diagrama" *ngIf="listaCronogramaProyecto$.length > 0">
        <mat-icon>view_module</mat-icon> Ver diagrama
      </button>
    </div>
  </div>
</div>

<app-mensaje-exito-error></app-mensaje-exito-error>

<app-lista-cronograma-proyecto [editable]="editable"></app-lista-cronograma-proyecto>