button.button-diagrama{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #138b97;
    padding: 10px 15px;
}


button.button-diagrama:hover{
    background: #ededed;
    border-radius: 2px;
    padding: 10px 15px;
}

button mat-icon{
    vertical-align: middle;
}

.space-wizard{
    margin: 50px 0 20px 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-6{
    flex: 1 1 60%;
}

.align-center{
    display: flex;
    align-items: center;
}

.col-10 {
    flex: 1 1 100%;
}

.align-end{
    display: flex;
    justify-content: flex-end;
}
