button.button-diagrama{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #138b97;
    padding: 10px 15px;
}


button.button-diagrama:hover{
    background: #ededed;
    border-radius: 2px;
    padding: 10px 15px;
}

button mat-icon{
    vertical-align: middle;
}