<div class="contextual-info margin-bottom" *ngIf="deshabilitarRubros">
  <img src="assets/img/ic-contextual-info.png" alt="ic-contextual-info">
  <p>Para configurar el presupuesto debe guardar todos los (co)financiadores registrados.</p>
</div>
<mat-tab-group>
  <mat-tab label="Cofinanciadores" >
    <app-pestana-cofinanciador-proyecto [editable]="editable"></app-pestana-cofinanciador-proyecto>
  </mat-tab>
  <mat-tab label="Presupuesto" >
    <app-pestana-presupuesto-proyecto [editable]="editable"></app-pestana-presupuesto-proyecto>
  </mat-tab>
</mat-tab-group>
