<div class="contextual-info margin-bottom" *ngIf="deshabilitarRubros">
  <img src="assets/img/ic-contextual-info.png" alt="ic-contextual-info">
  <p>Para configurar el presupuesto debe guardar todos los (co)financiadores registrados.</p>
</div>
<mat-tab-group>
  <mat-tab label="Cofinanciadores" *ngIf="pestanaCofinanciadorVisible">
    <app-pestana-cofinanciador-proyecto [editable]="editable"></app-pestana-cofinanciador-proyecto>
  </mat-tab>
  <mat-tab label="Presupuesto" *ngIf="pestanaPresupuestoVisible" [disabled]="deshabilitarRubros">
    <app-pestana-presupuesto-proyecto [editable]="editable"></app-pestana-presupuesto-proyecto>
  </mat-tab>
</mat-tab-group>
<div class="align-between border-top margin-top margin-bottom">
  <button mat-button class="button-back" (click)="emitirPasoAnterior()">
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button mat-raised-button class="button-secondary" (click)="emitirPasoSiguiente()">
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
