table {
    width: 100%;
    border-collapse:collapse;
    border-radius: 2px;
    background: white;
    margin-bottom: 40px;
  }
  
  .presupuesto{
    margin-top: 10px;
  }

  .small-font{
    font-size: 12px;
    padding: 12px;
  }

  table thead{
    border-radius: 4px;
  }

  .title-table{
    color: #00838f;
  }
  
  .content-table{
    padding: 10px;
  }
  
  
  th{
    text-align: initial;
    font-size: 14px;
    font-weight: 400;
  }
  
  tr{
    border-bottom: 1px solid #e8e8e8;
    
  }
  
  td{
    font-size: 14px;
    color: #6b6b6b;
    padding: 8px 10px;
    text-align: initial;
    overflow: hidden;
    
  }

  td:first-child{
    padding: 0 10px;
  }
  
  form td:not(:last-child){
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 5;
    max-height: 35px;
    max-width: 300px;
  }
  
  .header-table{
    background: #f3f3f3;
    color: #777777;
    border-top: 4px solid #00838f;
  }
  
  .header-table th{
    padding: 10px;
    border-right: 1px solid #e2e2e2;
  }
  
  .icon-table{
    font-size: 18px;
    color: #6b6b6b;
    margin-right: 5px;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    padding: 8px 6px 2px 6px;
    text-align: center;
  }
  
  .icon-table:hover{
    background: #e7e7e7;
    border-radius: 50%;
    padding: 8px 6px 2px 6px;
  
  }
  
  .table-hover:hover{
    background: #f6f6f6;
  }

  .table-responsive {
    width: 100%;
    overflow-y: auto;
}

.table.presupuesto ::ng-deep mat-form-field {
    width: 130px;
    height: 40px;
}

.table.presupuesto ::ng-deep mat-form-field .mat-form-field-wrapper {
    height: 40px;
}

.table.presupuesto ::ng-deep mat-form-field .mat-form-field-flex {
    height: 40px;
    padding-top: 0px;
}

.inline-order{
  display: inline-block;
  white-space: pre;
}

.subtotal{
  background: #f2f9ff;
}

.subtotal td{
  color: #128b97;
  text-align: right;
  padding: 20px;
}
 
/* .first-tr:first-child{
  background: #f3f3f3;
} */

.border-left{
  border-left: 1px solid #e2e2e2;
}

.align-right{
  text-align: right;
}

.line-tab {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  background: url("/assets/img/migadepan2.png") no-repeat right;
}

.line-tab.line-tab-last {
  background: url("/assets/img/migadepan.png") no-repeat right;
  background-size: contain;
}
  
  
  @media (max-width: 992px){
    #result-table{
      width: 90%;
    }
  }
  
  @media (max-width: 768px){
    #result-table{
      width: 90%;
    }
  }
  
  @media (max-width: 576px){
    #result-table{
      width: 90%;
    }
  }

  .aportanteRubroInvalido {
    border-color: red;
    color: red;
  }