<div class="col-10 margin-top">
  <div class="contextual-help">
    <div class="card-contextual">
      <img src="assets/img/ic-contextual-help.png" alt="">
      <p class="contextual-yellow">En esta sección se determina el plan de trabajo de su proyecto, de clic en el
        botón editar para ingresar la información.</p>
      <a href="#contactTypes"></a>
    </div>
  </div>
</div>
<app-lista-plan-trabajo-proyecto [editable]="editable"></app-lista-plan-trabajo-proyecto>
<div class="buttons align-between margin-top">
  <button mat-button class="button-back" awPreviousStep>
    <mat-icon>arrow_back</mat-icon>
    ANTERIOR
  </button>
  <button mat-raised-button class="button-secondary" awNextStep>
    SIGUIENTE
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>